<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PhotoShare{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
<script>
window.onload = function() {
    const token = localStorage.getItem('jwtToken'); // Pobierz token z localStorage

    fetch('http://localhost:8000/', { // Zmień URL na swój endpoint
        method: 'GET',
        headers: token ? { 'Authorization': `Bearer ${token}` } : {}
    })
    .then(response => response.json())
    .then(data => {
        console.log(data); // Odpowiedź z serwera
        // Tutaj możesz zaktualizować DOM strony, aby wyświetlić otrzymane dane
    })
    .catch(error => console.error('Błąd:', error));
};
</script>

</body>
</html>
